@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: #f2f2f2;
    --foreground: #fff;
    --backgroundDarker: #f0f1f5;
    --primary: #aa0909;
    --primaryDarker: #911d1d;
    --secondary: #ffbf00;
    --text-color: #0d0d0d;
    --selected: #33cc7f;
    --selected-foreground: #145233;
    --font-archivo-regular: "Archivo Narrow", sans-serif;
    --font-archivo-bold: "Archivo Narrow Bold", sans-serif;
    --font-archivo-medium: "Archivo Narrow Medium", sans-serif;
    --font-archivo-semi-bold: "Archivo Narrow SemiBold", sans-serif;
  }
}
