@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: #f0f1f5;
    --foreground: #fff;
    --primary: #aa0909;
    --secondary: #ffbf00;
    --text: #0d0d0d;
    --selected: #33cc7f;
    --selected-foreground: #145233;
  }
}
